@* @model List<SalesApp.Models.SalesTransaction> *@

@model SalesViewModel
@{
    ViewData["Title"] = "SalesApp";
}

<div class="wrapper">
    <nav id="sidebar" class="bg-dark text-white">
      <div class="sidebar-header">
        <h3>Sales Dashboard</h3>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="#" id="salesLink" class="nav-link active">
            <i class="bi bi-cart"></i> Sales Transactions
          </a>
        </li>
        <li>
          <a href="#" id="productLink" class="nav-link">
            <i class="bi bi-receipt"></i> Product
          </a>
        </li>
        <li>
          <a href="#" id="customerLink" class="nav-link">
            <i class="bi bi-receipt"></i> Customer
          </a>
        </li>
        <li>
          <a href="#" id="generateInvoiceLink" class="nav-link">
            <i class="bi bi-receipt"></i> Generate Invoice
          </a>
        </li>
        <li>
          <a href="#" id="invoiceLink" class="nav-link">
            <i class="bi bi-receipt"></i> Invoices
          </a>
        </li>
      </ul>
    </nav>
  
  <div id="content">
    <!-- Pages (Sales, Product, Customers, Invoice) -->
    
    <div class="container-fluid mt-4">
      <div id="salesPage">
        <div class="d-flex justify-content-between mb-3">
          <h2>Sales Transactions</h2>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">Add Transaction</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Date</th>
              <th>Product</th>
              <th>Customer</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Total</th>
              <th>Invoice</th>
              <th>Actions</th>
            </tr>
            </thead>
            @* <tbody id="salesTable"></tbody> *@
            <tbody>
            @foreach (var sales in Model.SalesTransactions)
            {
              <tr>
                <td>@sales.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@sales.Product?.ProductName</td>
                <td>@sales.Customer?.CustomerName</td>
                <td>@sales.Quantity</td>
                <td>@sales.Rate</td>
                <td>@sales.Total</td>
                <td>@(sales.Invoice?.InvoiceId != null ? sales.Invoice.InvoiceNumber : "-")</td>
                <td>
                  <a href="#" class="btn btn-primary" 
                     id="edit-transaction"
                     data-bs-toggle="modal" 
                     data-bs-target="#editTransactionModal"
                     data-id="@sales.SalesTransactionId"
                     data-product-id="@sales.ProductId"
                     data-customer-id="@sales.CustomerId"
                     data-quantity="@sales.Quantity"
                     data-rate="@sales.Rate"
                     >Edit</a>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>

      <div id="productPage" style="display: none;">
        <div class="d-flex justify-content-between mb-3">
          <h2>Product</h2>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">Add Product</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ProductId</th>
              <th>ProductName</th>
              <th>Rate</th>
            </tr>
            </thead>
            
            <tbody>
            @foreach (var product in Model.Products)
            {
              <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductName</td>
                <td>@product.Rate</td>
                @* <td>@sales.Rate</td> *@
                @* <td>@sales.Total</td> *@
                @* <td>@(sales.InvoiceId != null ? sales.InvoiceId : "-")</td> *@
                @* <td> *@
                @*   <button class="btn btn-sm btn-primary">Generate Invoice</button> *@
                @* </td> *@
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>

      <div id="customerPage" style="display: none;">
        <div class="d-flex justify-content-between mb-3">
          <h2>Customers</h2>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal">Add Customer</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>CustomerID</th>
              <th>CustomerName</th>
              <th>ContactInfo</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var customer in Model.Customers)
            {
              <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.CustomerName</td>
                <td>@customer.ContactInfo</td>
                @* <td>@sales.Rate</td> *@
                @* <td>@sales.Total</td> *@
                @* <td>@(sales.InvoiceId != null ? sales.InvoiceId : "-")</td> *@
                @* <td> *@
                @*   <button class="btn btn-sm btn-primary">Generate Invoice</button> *@
                @* </td> *@
              </tr>
            }
            </tbody>
          </table>
        </div>
  
      
      </div>

      <div id="generateInvoicePage" style="display: none;">
        <div class="d-flex justify-content-between mb-3">
          <h2>Generate Invoice</h2>
          <form asp-controller="Invoice" asp-action="GenerateAndTagAllInvoices" method="post">
            <button type="submit" class="btn btn-primary">Generate All Daily Invoices</button>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>CustomerID</th>
              <th>CustomerName</th>
              <th>Action</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var customer in Model.GenerateInvoices)
            {
              <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.CustomerName</td>
                <td><a href="@Url.Action("GenerateAndTagEachInvoices", "Invoice", new { id = customer.CustomerId })"
                       class="btn btn-primary"
                       target="_blank"
                  >Generate</a>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>


      </div>
      
      <div id="invoicePage" style="display: none;">
        <h2>Invoices</h2>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>InvoiceNo.</th>
              <th>Invoice Date</th>
              <th>Customer</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var invoice in Model.Invoices)
            {
              <tr>
                <td>@invoice.InvoiceNumber</td>
                <td>@invoice.InvoiceDate.ToString("yyyy-MM-dd")</td>
                <td>@invoice.Customer?.CustomerName</td>
                <td>@invoice.InvoiceTotal</td>
                <td>
                  <a href="@Url.Action("InvoiceDetails", "Invoice", new { id = invoice.InvoiceId })" 
                     class="btn btn-primary"
                     target="_blank"
                  >View</a>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
   <!-- Add/Edit form of SalesTransactions, Product, Customers  -->

   <div class="modal fade" id="transactionModal" tabindex="-1">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Add Transaction</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
         <div class="modal-body">
           <form asp-controller="Sales" asp-action="Create" method="post" id="transactionForm">
             <div class="mb-3">
               <label class="form-label">Product</label>
               <select class="form-control custom-select" id="transactionProductName" name="ProductId" required>
                 <option value="">Select Product</option>
                 @foreach (var product in Model.Products)
                 {
                   <option value="@product.ProductId" data-rate="@product.Rate">@product.ProductName</option>
                 }
               </select>
             </div>
             <div class="mb-3">
               <label class="form-label">Customer</label>
               <select class="form-control custom-select" id="customer" name="CustomerId" required>
                 <option value="">Select Customer</option>
                 @foreach (var customer in Model.Customers)
                 {
                   <option value="@customer.CustomerId">@customer.CustomerName</option>
                 }
               </select>
             </div>
             <div class="mb-3">
               <label class="form-label">Quantity</label>
               <input type="number" class="form-control" id="transactionProductQuantity" value="0" name="Quantity" required>
             </div>
             <div class="mb-3">
               <label class="form-label">Rate</label>
               <input type="number" class="form-control" id="transactionProductRate" name="Rate" required>
             </div>
             <div class="mb-3">
               <label class="form-label">Total</label>
               <input type="number" class="form-control" id="transactionTotal" name="Total" readonly required>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary" id="saveSalesTransaction">Save</button>
         </div>
       </div>
     </div>
   </div>

  <div class="modal fade" id="editTransactionModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Transaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form asp-controller="Sales" asp-action="Edit" method="post" id="editTransactionForm">
            <div class="mb-3">
              <label class="form-label">SalesTransactionID</label>
              <input type="text" class="form-control" id="editTransactionId" name="SalesTransactionId" readonly required>
            </div>
            <div class="mb-3">
              <label class="form-label">Product</label>
              <select class="form-control custom-select" id="editTransactionProductName" name="ProductId" required>
                <option value="">Select Product</option>
                @foreach (var product in Model.Products)
                {
                  <option value="@product.ProductId" data-rate="@product.Rate">@product.ProductName</option>
                }
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Customer</label>
              <select class="form-control custom-select" id="customerName" name="CustomerId" required>
                <option value="">Select Customer</option>
                @foreach (var customer in Model.Customers)
                {
                  <option value="@customer.CustomerId">@customer.CustomerName</option>
                }
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Quantity</label>
              <input type="number" class="form-control" id="editTransactionQuantity" value="0" name="Quantity" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Rate</label>
              <input type="number" class="form-control" id="editTransactionProductRate" name="Rate" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Total</label>
              <input type="number" class="form-control" id="editTransactionTotal" name="Total" readonly required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editSalesTransaction">Edit</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="productModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form asp-controller="Product" asp-action="Create" method="post" id="productCreateForm">
          <div class="mb-3">
            <label class="form-label" for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="ProductName" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="productRate">Rate</label>
            <input type="number" class="form-control" id="productRate" name="Rate" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveProduct">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="customerModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form asp-controller="Customer" asp-action="Create" method="post" id="customerCreateForm">
            <div class="mb-3">
              <label class="form-label" for="productName">Customer Name</label>
              <input type="text" class="form-control" id="customerName" name="CustomerName" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="productRate">Customer Info</label>
              <input type="text" class="form-control" id="customerInfo" name="ContactInfo" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="saveCustomer">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>



